@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	width: 0;
	margin: 0;
	box-sizing: border-box;
	background: none;
	font-family: "Ubuntu", sans-serif;
}

#root {
	height: 100dvh;
	width: 100dvw;
	overflow: hidden;
}

#window {
	background-color: rgba(135, 32, 182, 0.575);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#notification-panel::-webkit-scrollbar,
#directories::-webkit-scrollbar,
#tools-panel::-webkit-scrollbar,
#vscode::-webkit-scrollbar,
#recents::-webkit-scrollbar {
	display: none;
}

#notification-panel,
#directories,
#tools-panel,
#vscode,
#recents {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

button.paint {
	background: orange;
}

.viewport {
	width: calc(100dvw - 60px);
	height: calc(100dvh - 2rem);
}
